/* ========================================================
    TABLE OF CONTENT
==========================================================
    1. HEADINGS
    2. TEXT
======================================================== */
/* ========================================================
    1. HEADINGS
======================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font;
    font-weight: 700;
    margin     : 0 0 1rem;
    line-height: 1.2;
}

h1 {
    font-size: 2.25rem;

    @include large {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2rem;

    @include large {
        font-size: 2.25rem;
    }
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

/* ========================================================
    2. TEXT
======================================================== */
p {
    margin: 0 0 1rem;
}

.text {
    line-height: 2;
}

.text--muted {
    opacity: 0.5;
}