<div class="navbar">
	<div class="{% if not fn('is_front_page') and not fn('is_single') %}container{% else %}container--full-width{% endif %}">
		<a href="{{site.link}}" class="logo">
			<h3 class="logo__text">Findingtheseoul</h3>
		</a>
		<button class="hamburger"></button>
		<div class="navmenu-container">
			<button class="button--close" onclick="closeNav()"></button>
			<div class="navmenu">
				<button class="nav-item dropdown-toggle">Categories</button>
				<div class="dropdown">
					{% for category in categories %}
						<a href="{{category.link}}" class="dropdown__item">{{category.title}}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
