<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
		{% block head %}
			{% include 'layout/head.twig' %}
		{% endblock %}
	</head>
	<body class="{{body_class}}" data-template="base.twig">
		<header {% if not fn('is_front_page') %} class="container" {% endif %}>
			{% block header %}
				{% include 'layout/header.twig' %}
			{% endblock %}
		</header>
		<main {% if not fn('is_front_page') %} class="container" {% endif %}>
			{% block content %}
				Content
			{% endblock %}
		</main>
		<footer {% if not fn('is_front_page') %} class="container" {% endif %}>
			{% block footer %}
				{% include 'layout/footer.twig' %}
			{% endblock %}
		</footer>
	</body>
</html>
