{% extends "base.twig" %}

{% block content %}
	<section class="blog-post">
		<div class="grid gap--md">
			<div class="article-content container">
				{{post.content}}
			</div>
			<div class="comments-container">
				<div class="container">
					<div class="comments">
						{% if post.comments %}
							<h2>Comments</h2>
							{% for comment in post.comments %}
								{% include "partials/comment.twig" with {comment:comment} %}
							{% endfor %}
						{% endif %}
					</div>
					{% if post.comment_status == "closed" %}
						<p>Comments for this post are closed.</p>
					{% else %}
						{% include "partials/comment-form.twig" %}
					{% endif %}
				</div>
			</div>
			<div class="related-posts container">
				<h2>More posts like this</h2>
				<p class="text--muted">If you liked this read, then you might like these aswell!</p>
			</div>
			<div class="author-container">
				<div class="grid grid-column--two gap--lg container">
					<div class="author-description-container">
						<img src="{{author.img.src}}" alt="" class="author-image">
						<h3>Ryan Mar</h3>
						<p>Lorem ipsum dolor sit amet.</p>
					</div>
					<div class="social-share-container">
						<div class="flex flex-column">
							<h3>Share</h3>
							<p>If you enjoyed my article, please consider sharing it with your friends and family!</p>
							<div class="social-buttons">
								<button class="social-button">Twitter</button>
								<button class="social-button">Facebook</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
