/* ========================================================
    TABLE OF CONTENT
==========================================================
    1. BREADCRUMBS
======================================================== */
/* =======================================================
    1. BREADCRUMBS
======================================================== */
.breadcrumbs {
	border-top: 1px solid transparentize($color: $font-color, $amount: 0.85);
	border-bottom: 1px solid transparentize($color: $font-color, $amount: 0.85);
	margin-bottom: $spacing--sm;

	@include medium {
		margin-bottom: $spacing--md;
	}

	@include large {
		margin-bottom: $spacing--lg;
	}

	.container {
		@extend .flex;
		align-items: center;
		overflow: scroll;

		padding: 1rem 0;
		color: transparentize($color: $font-color, $amount: 0.5);

		a {
			color: inherit;
		}

		@include medium {
			overflow: auto;
		}
	}
}

[class*="breadcrumb--"] {
	white-space: nowrap;
}

.separator {
	@extend .flex;
	margin: 0 0.625rem 0 0.625rem;
}
