/* ========================================================
    TABLE OF CONTENT
==========================================================
    1. FEATURED POST PREVIEW
        a. FEATURED FEATURED POST PREVIEW - HEADER
        b. FEATURED POST PREVIEW - CONTENT
        c. FEATURED POST PREVIEW - READ MORE
        d. FEATURED POST PREVIEW - COMMENTS
======================================================== */
/* ========================================================
    1. FEATURED POST PREVIEW
======================================================== */
.featured-post-preview {
    @extend .grid;
    @extend .grid-column--two;
    gap: $spacing--sm;
}


/* ========================================================
    a. FEATURED POST PREVIEW - HEADER
======================================================== */
.featured-post-preview__title {
    margin-bottom: 0.625rem;
}

.featured-post-preview__subtitle {
    font-family   : $body-font;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom : 0;

    a {
        color: $primary-color !important;
    }
}

/* ========================================================
    b. FEATURED POST PREVIEW - BODY
======================================================== */
.featured-post-preview__body {
    @extend .grid;
    gap: $spacing--sm;
}

.featured-post-preview__content {
    @extend .text;
    margin-bottom: 0;
}

/* ========================================================
    c. FEATURED POST PREVIEW - READ MORE
======================================================== */
.featured-post-preview__read-more-container {
    @extend .flex;
    align-items: center;
}

.featured-post-preview__read-more {
    @extend .flex;
    align-items   : center;
    margin-right  : 1.25rem;
    font-weight   : 700;
    text-transform: uppercase;

    &:before {
        content     : "\f345";
        font-family : "Dashicons";
        margin-right: 0.3125rem;
    }

    &:after {
        content    : "|";
        margin-left: 1.25rem;
    }
}

/* ========================================================
    d. FEATURED POST PREVIEW - COMMENTS
======================================================== */
.featured-post-preview__comment-icon {
    margin-right: 0.3125rem;
    color       : $primary-color;
}

.featured-post-preview__comments {
    @extend .flex;
    align-items: center;
}