/* ========================================================
    TABLE OF CONTENT
==========================================================
    1. INPUTS
======================================================== */
/* =======================================================
    1. INPUTS
======================================================== */
input,
textarea {
	width: 100%;
	border: 0;
	padding: 10px;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	background-color: white;
}

textarea {
	min-height: 250px;
}
